# Excel temporäre Dateien (sehr wichtig!)
~$*.xlsx
~$*.xlsm
~$*.xlsb
~$*.xls

# Excel Backup-Dateien
*.xlk

# Windows Systemdateien
Thumbs.db
Desktop.ini

# Falls du VS Code nutzt
.vscode/
excel/Programm Kassenbuch 2018_v2.6.9.xlsm
